<section id="features" class="features">
  <div class="container">
    <div class="section-title aos-init" data-aos="fade-up">
      <h2>Our Core Features</h2>
      <p>
        Akeshya is a forward-thinking and intelligent design firm that is
        technically and creatively capable of transforming your brand into its
        best digital self. Our approach to design and development results in
        compelling, engaging branding and immersive digital experiences that
        provide a value for money.
      </p>
    </div>

    <div class="row aos-init" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="ri-window-line" style="color: #ffbb2c;"></i>
          <h3><a href="" style="text-decoration: none;">Web design</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-code-box-line" style="color: #5578ff;"></i>
          <h3><a href="" style="text-decoration: none;">Development</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-creative-commons-by-line" style="color: #e80368;"></i>
          <h3><a href="" style="text-decoration: none;">Branding</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="ri-play-circle-line" style="color: #e361ff;"></i>
          <h3><a href="" style="text-decoration: none;">Media buying</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-search-eye-line" style="color: #47aeff;"></i>
          <h3><a href="" style="text-decoration: none;">Search engine</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-todo-line" style="color: #ffa76e;"></i>
          <h3><a href="" style="text-decoration: none;">Brand strategy</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-map-pin-line" style="color: #dbce11;"></i>
          <h3>
            <a href="" style="text-decoration: none;">Local search marketing</a>
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-bar-chart-grouped-line" style="color: #4233ff;"></i>
          <h3>
            <a href="" style="text-decoration: none;">
              Lead Tracking & Management
            </a>
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-contacts-book-line" style="color: #b2904f;"></i>
          <h3>
            <a href="" style="text-decoration: none;">Contact management</a>
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-disc-line" style="color: #b20969;"></i>
          <h3>
            <a href="" style="text-decoration: none;">Media management</a>
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-calendar-event-line" style="color: #ff5828;"></i>
          <h3>
            <a href="" style="text-decoration: none;">Social scheduling</a>
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-advertisement-fill" style="color: #29cc61;"></i>
          <h3><a href="" style="text-decoration: none;">Ad retargeting</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
