---
import Layout from "../layouts/Layout.astro";
import "../scripts/styles.css";
---

<Layout title="Akeshya">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B1R5LB296V"></script>  
  </head>
  <body
    data-aos-easing="ease-in-quad"
    data-aos-duration="1000"
    data-aos-delay="0"
  >
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5H76NZR"
        height="0"
        width="0"
        style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1>
            <a href="/"
              ><img
                src="assets/img/logo.png"
                alt=""
                class="img-fluid"
              />AKESHYA</a
            >
          </h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li>
              <a class="getstarted scrollto" href="#contact">Contact us</a>
            </li>
          </ul>
          <i class="bi mobile-nav-toggle bi-list"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1 data-aos="fade-up" class="aos-init aos-animate">
              Grow your business with Akeshya
            </h1>
            <h2
              data-aos="fade-up"
              data-aos-delay="400"
              class="aos-init aos-animate"
            >
              We are team of talented website designers, developers &amp;
              digital marketeers
            </h2>
            <div
              data-aos="fade-up"
              data-aos-delay="800"
              class="aos-init aos-animate"
            >
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
    </div>
    </section>

      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients clients">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="assets/img/clients/client-1.png"
                class="img-fluid aos-init aos-animate"
                alt=""
                data-aos="zoom-in"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="assets/img/clients/client-2.png"
                class="img-fluid aos-init aos-animate"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="100"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="assets/img/clients/client-3.png"
                class="img-fluid aos-init aos-animate"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="200"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="assets/img/clients/client-4.png"
                class="img-fluid aos-init aos-animate"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="300"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="assets/img/clients/client-5.png"
                class="img-fluid aos-init aos-animate"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="400"
              />
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img
                src="assets/img/clients/client-6.png"
                class="img-fluid aos-init aos-animate"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="500"
              />
            </div>
          </div>
        </div>
      </section><!-- End Clients Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">  
        <div class="container">
          <div class="section-title aos-init" data-aos="fade-up">
            <h2>About Us</h2>
          </div>

          <div class="row content">
            <div
              class="col-lg-6 aos-init"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <p>
                We are Akeshya, a firm that specializes in web design and
                marketing. We help transform ideas into reality with a team of
                passionate graphic designers, web developers, and seasoned
                marketing advisors.
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> We started with a simple idea:
                  do what is best for the client.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Our methodical and individual
                  approach to each project delivers the finest possible results for
                  your media.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Our day-to-day work is to
                  solve your problems utilising the most up-to-date, practical adaptive
                  technology, and we have a lot of fun doing it.
                </li>
              </ul>
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 aos-init"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <p>
                We're professional, but we're also friendly, and we'll always
                pay attention to your concerns. We expect to work with
                innovative people that have an open mind and are dedicated to
                making every idea a reality. We want to hear from you if you're
                interested in SEO, have Web Development ideas, or require a
                graphic designer who can match your goals.
              </p>
              <a href="#services" class="btn-learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </section><!-- End About Us Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container">
          <div class="row">
            <div
              class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start aos-init"
              data-aos="fade-right"
              data-aos-delay="150"
            >
              <img src="assets/img/counts-img.svg" alt="" class="img-fluid" />
            </div>

            <div
              class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0 aos-init"
              data-aos="fade-left"
              data-aos-delay="300"
            >
              <div class="content d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-emoji-smile"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="3835039"
                        data-purecounter-duration="2"
                        class="purecounter">0</span
                      >
                      <p><strong>Organic Reach</strong> (Global)</p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-journal-richtext"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="85"
                        data-purecounter-duration="3"
                        class="purecounter">0</span
                      >
                      <p><strong>Campaigns</strong></p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-clock"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="14081"
                        data-purecounter-duration="3"
                        class="purecounter">0</span
                      >
                      <p><strong>Watch Hours</strong> (Asia)</p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-globe"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="17"
                        data-purecounter-duration="1"
                        class="purecounter">0</span
                      >
                      <p><strong>Excellent CTR %</strong> (Asia)</p>
                    </div>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
        </div>
      </section><!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title aos-init" data-aos="fade-up">
            <h2>Services</h2>
            <p>
              Akeshya will serve as your consultant and development partner to
              help you turn your idea into a reality.
            </p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div
                class="icon-box aos-init"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="" style="text-decoration: none;">Design</a></h4>
                <p class="description">
                  Our web design services can assist you in reclaiming your
                  company's online image. Your business will flourish on the
                  Internet thanks to the combination of style and technology we
                  provide, as well as our experience.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div
                class="icon-box aos-init"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="" style="text-decoration: none;">Development</a></h4>
                <p class="description">
                  Our development team can construct platforms to help your
                  business thrive by creating powerful customised solutions
                  tailored to your particular requirements. Akeshya makes use of
                  established and effective web development tools.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div
                class="icon-box aos-init"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="" style="text-decoration: none;">Marketing</a></h4>
                <p class="description">
                  A beautiful website is the foundation of effective marketing.
                  Our customers achieve success where it counts—in the real
                  world—by combining our proven approach with our passion for
                  improving conversions and increasing ROI.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div
                class="icon-box aos-init"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="" style="text-decoration: none;" >Support</a></h4>
                <p class="description">
                  Since the beginning, we at Akeshya have specialised in website
                  maintenance. We recognise the significance of having your
                  business online 24 hours a day, seven days a week, and we've
                  created a system to ensure that we're always available.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Services Section -->

      <!-- ======= More Services Section ======= -->
      <section id="more-services" class="more-services">
        <div class="container">
          <div class="section-title aos-init" data-aos="fade-up">
            <h2>Our Process</h2>
            <p>
              Over the years we’ve evolved a tested method for attaining
              achievement for each one of our clients.
            </p>
          </div>

          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div
                class="card aos-init"
                style='background-image: url("assets/img/more-services-1.jpg");'
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="card-body">
                  <h5 class="card-title"><a href="" style="text-decoration: none;">1. Planning</a></h5>
                  <p class="card-text">
                    We help you turn all of your ideas into a digital product
                    that meets all of your requirements. We begin each project
                    by determining its scope and needs. This is done by
                    collaborating closely with you to ensure that we're all on
                    the same page.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div
                class="card aos-init"
                style='background-image: url("assets/img/more-services-2.jpg");'
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="card-body">
                  <h5 class="card-title"><a href="" style="text-decoration: none;">2. Design</a></h5>
                  <p class="card-text">
                    We build our websites carefully through a series of
                    workshops, wire-framing, and user experience (UX) sessions,
                    resulting in a site that reinforces trust, conveys important
                    brand messaging, and provides a return on innovation.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div
                class="card aos-init"
                style='background-image: url("assets/img/more-services-3.jpg");'
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="card-body">
                  <h5 class="card-title"><a href="" style="text-decoration: none;">3. Development</a></h5>
                  <p class="card-text">
                    We provide extensive front-end and back-end development that
                    allows your idea to stand alone. Our in-house developers
                    work side-by-side with the artistic team to seek out natural
                    breakpoints inside the content and order practicality based
                    on acknowledged statistics.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div
                class="card aos-init"
                style='background-image: url("assets/img/more-services-4.jpg");'
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="card-body">
                  <h5 class="card-title"><a href="" style="text-decoration: none;"></a>4. Marketing</h5>
                  <p class="card-text">
                    We come up with ideas and campaigns to help your business
                    prosper online. Our campaigns and virtual approach have a
                    verified tune report of accomplishing brilliant results,
                    gathering new leads and site visitors in your website and
                    assist them convert.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End More Services Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container">
          <div class="section-title aos-init" data-aos="fade-up">
            <h2>Our Core Features</h2>
            <p>
              Akeshya is a forward-thinking and intelligent design firm that is
              technically and creatively capable of transforming your brand into
              its best digital self. Our approach to design and development
              results in compelling, engaging branding and immersive digital
              experiences that provide a value for money.
            </p>
          </div>

          <div class="row aos-init" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-3 col-md-4">
              <div class="icon-box">
                <i class="ri-window-line" style="color: #ffbb2c;"></i>
                <h3><a href="" style="text-decoration: none;">Web design</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="ri-code-box-line" style="color: #5578ff;"></i>
                <h3><a href="" style="text-decoration: none;">Development</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="ri-creative-commons-by-line" style="color: #e80368;"
                ></i>
                <h3><a href="" style="text-decoration: none;">Branding</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="ri-play-circle-line" style="color: #e361ff;"></i>
                <h3><a href="" style="text-decoration: none;">Media buying</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-search-eye-line" style="color: #47aeff;"></i>
                <h3><a href="" style="text-decoration: none;">Search engine</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-todo-line" style="color: #ffa76e;"></i>
                <h3><a href="" style="text-decoration: none;">Brand strategy</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-map-pin-line" style="color: #dbce11;"></i>
                <h3><a href="" style="text-decoration: none;">Local search marketing</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-bar-chart-grouped-line" "=""style="color: #4233ff;"></i>
                <h3><a href="" style="text-decoration: none;">Lead Tracking &amp; Management </a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-contacts-book-line" style="color: #b2904f;"></i>
                <h3><a href="" style="text-decoration: none;">Contact management</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-disc-line" style="color: #b20969;"></i>
                <h3><a href="" style="text-decoration: none;">Media management</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-calendar-event-line" style="color: #ff5828;"></i>
                <h3><a href="" style="text-decoration: none;">Social scheduling</a></h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
              <div class="icon-box">
                <i class="ri-advertisement-fill" style="color: #29cc61;"></i>
                <h3><a href="" style="text-decoration: none;">Ad retargeting</a></h3>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Features Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title aos-init" data-aos="fade-up">
            <h2>Contact Us</h2>
          </div>

          <div class="row">
            <div
              class="col-lg-4 col-md-6 aos-init"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="contact-about">
                <h3>Akeshya</h3>
                <p>
                  Designers, developers &amp; marketeers capable of delivering
                  solutions according to your needs,
                </p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 mt-4 mt-md-0 aos-init"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="info">
                <div>
                  <i class="ri-map-pin-line"></i>
                  <p>
                    26-2-789, 7th street, Jyothi Nagar, Nellore, Andhra Pradesh
                    524004
                  </p>
                </div>

                <div>
                  <i class="ri-mail-send-line"></i>
                  <p>info@akeshya.com</p>
                </div>

                <div>
                  <i class="ri-phone-line"></i>
                  <p>+91 94942 40922</p>
                </div>
              </div>
            </div>

            <!-- FORM -->
            <div
              class="col-lg-5 col-md-12 aos-init"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <form class="php-email-form" method="POST" name="contact">
                <input type="hidden" name="form-name" value="contact" />
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required=""></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section><!-- End Contact Section -->

    <footer id="footer">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div class="Copyright">
            © Copyright <strong>Akeshya</strong>. All Rights Reserved
          </div>
          <div>
            <ul class="d-flex list-unstyled">
              <li class="px-3">
                <a href="./Terms and conditions.pdf" style="text-decoration: none;">Terms and conditions</a>
              </li>
              <li class="px-3">
                <a href="./Refund policy.pdf" style="text-decoration: none;">Refund policy</a>
              </li>
              <li class="px-3">
                <a href="./Privacy policy.pdf" style="text-decoration: none;">Privacy policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center active"
      ><i class="bi bi-arrow-up-short"></i></a
    >
    <script>
      import "../scripts/main.js";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.3/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </body>
</Layout>
